force-app/main/default/flows/BPEV_Listener_Membership_Form_Business_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Checks if a Recipient is listed on the MFS AND has either an Email Address OR a Mailing Address to run &quot;DPEV Listener - Find/Create Recipient&quot;, if not, create appropriate Logs.</description>
        <name>Are_Recipient_fields_populated</name>
        <label>Are Recipient fields populated?</label>
        <locationX>446</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Create_Membership_Essentials_Log_No_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recipient</defaultConnectorLabel>
        <rules>
            <name>Recipient_Contact_Info</name>
            <conditionLogic>1 AND 2 AND (3 OR (4 AND 5 AND 6 AND 7))</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientFirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientCity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientZip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_the_Recipient_Platform_Event</targetReference>
            </connector>
            <label>Recipient + Contact Info</label>
        </rules>
        <rules>
            <name>Recipient_Name_Only</name>
            <conditionLogic>(1 OR 2) AND (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientFirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientLastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.RecipientStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Essentials_Log_Incomplete_Recipient_Info</targetReference>
            </connector>
            <label>Recipient - Name Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Lookup_Set</name>
        <label>Is Account Lookup Set?</label>
        <locationX>3199</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Call_Account_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account</defaultConnectorLabel>
        <rules>
            <name>Account_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Account_Import_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Contact_Lookup_Set</targetReference>
            </connector>
            <label>Account Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Lookup_Set</name>
        <label>Is Contact Lookup Set?</label>
        <locationX>2916</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Call_Contact_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact</defaultConnectorLabel>
        <rules>
            <name>Contact_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Contact__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Product_Lookup_Set</targetReference>
            </connector>
            <label>Contact Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricebook_Entry_Lookup_Set</name>
        <label>Is The Pricebook Entry Lookup Set?</label>
        <locationX>1865</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Call_the_Pricebook_Entry_Finder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Price Book Entry</defaultConnectorLabel>
        <rules>
            <name>Price_Book_Entry_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Price_Book_Entry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_The_Opportunity_Lookup_Set</targetReference>
            </connector>
            <label>Price Book Entry Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Product_Lookup_Set</name>
        <label>Is Product Lookup Set?</label>
        <locationX>2615</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Call_Product_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Product</defaultConnectorLabel>
        <rules>
            <name>Product_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Product__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Product_Import_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Campaign_Lookup_Set</targetReference>
            </connector>
            <label>Product Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Campaign_Lookup_Set</name>
        <label>Is the Campaign Lookup Set?</label>
        <locationX>2277</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Call_Find_Campaign_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Campaign</defaultConnectorLabel>
        <rules>
            <name>Campaign_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Campaign__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Campaign_Import_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Pricebook_Entry_Lookup_Set</targetReference>
            </connector>
            <label>Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_The_Opportunity_Lookup_Set</name>
        <label>Is The Opportunity Lookup Set?</label>
        <locationX>1304</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Call_The_Opportunity_Platform_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Opportunity__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MFS_status_Imported</targetReference>
            </connector>
            <label>Opportunity Exists</label>
        </rules>
        <rules>
            <name>Ignore_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Do_not_create_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_for_a_new_membership</targetReference>
            </connector>
            <label>Ignore Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>if product family = Membership and Membership__c Lookup is null</description>
        <name>Is_this_for_a_new_membership</name>
        <label>Is this for a new membership?</label>
        <locationX>1634</locationX>
        <locationY>926</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Product__r.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Membership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Membership_Form_Submission_Record.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Transaction_Event</targetReference>
            </connector>
            <label>Create new Membership</label>
        </rules>
    </decisions>
    <description>Checks for existing population of lookup fields on the Membership Form record and triggers platform events for creation if necessary.</description>
    <environments>Default</environments>
    <interviewLabel>BPEV Listener  - Membership Form Business Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BPEV Listener  - Membership Form Business Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Calls the DPEV Account Find/Create Platform Event</description>
        <name>Call_Account_Platform_Event</name>
        <label>Call Account Platform Event</label>
        <locationX>3482</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Account__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Calls the DPEV Contact Finder Platform event</description>
        <name>Call_Contact_Platform_Event</name>
        <label>Call Contact Platform Event</label>
        <locationX>3218</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Membership_Form_Submission_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Contact_Finder__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_Find_Campaign_Platform_Event</name>
        <label>Call Find Campaign Platform Event</label>
        <locationX>2690</locationX>
        <locationY>710</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Find_Campaign__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Call Find Product Platform Event</description>
        <name>Call_Product_Platform_Event</name>
        <label>Call Product Platform Event</label>
        <locationX>2954</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Product_Finder__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_The_Opportunity_Platform_Event</name>
        <label>Call The Opportunity Platform Event</label>
        <locationX>2162</locationX>
        <locationY>926</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Create_Opportunity__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_the_Pricebook_Entry_Finder</name>
        <label>Call the Pricebook Entry Finder</label>
        <locationX>2426</locationX>
        <locationY>818</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Pricebook_Finder__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Call &quot;DPEV Listener - Find/Create Recipient&quot; when there is a Recipient with appropriate contact information on the MFS.</description>
        <name>Call_the_Recipient_Platform_Event</name>
        <label>Call the Recipient Platform Event</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <faultConnector>
            <targetReference>Create_Membership_Essentials_Log_Fail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Gift_Recipient_Finder__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>3746</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Platform event triggered. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>create Log when &quot;DPEV Listener - Find/Create Recipient&quot; Platform Event record fails to be created.</description>
        <name>Create_Membership_Essentials_Log_Fail</name>
        <label>Create Membership Essentials Log Fail</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Log when a Recipient First and/or Last Name is listed on MFS without appropriate contact information (Email or Mailing Address)</description>
        <name>Create_Membership_Essentials_Log_Incomplete_Recipient_Info</name>
        <label>Create Membership Essentials Log - Incomplete Recipient Info</label>
        <locationX>578</locationX>
        <locationY>1142</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>&quot;DPEV Listener - Find/Create Recipient&quot; did not run because there is insufficient Recipient contact information (no Email Address or Mailing Address)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Log when a Recipient is not listed on MFS.</description>
        <name>Create_Membership_Essentials_Log_No_Recipient</name>
        <label>Create Membership Essentials Log - No Recipient</label>
        <locationX>842</locationX>
        <locationY>1142</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>&quot;DPEV Listener - Find/Create Recipient&quot; did not run because no Recipient was listed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Transaction_Error_Log</name>
        <label>Create Membership Transaction Error Log</label>
        <locationX>1634</locationX>
        <locationY>1142</locationY>
        <inputAssignments>
            <field>Error_Text__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Error creating Membership Transaction Platform Event</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Transaction_Event</name>
        <label>Create Membership Transaction Event</label>
        <locationX>1370</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Create_Membership_Transaction_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Membership_Transaction_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>BPEV_Membership_Transaction__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Transaction_Log</name>
        <label>Create Membership Transaction Log</label>
        <locationX>1370</locationX>
        <locationY>1142</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>BPEV - Membership Transaction fired successfully</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_MFS_status_Imported_Membership_Essentials_Log</name>
        <label>Create &quot;Update MFS status - Imported&quot; Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>1034</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>GET_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Membership_Form_Submission_Record</name>
        <label>GET Membership Form Submission Record</label>
        <locationX>3199</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Lookup_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Membership_Form_Submission_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS_status_Imported</name>
        <label>Update MFS status - Imported</label>
        <locationX>446</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Are_Recipient_fields_populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Update_MFS_status_Imported_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Membership_Form_Submission_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failure_Information__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>3073</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Membership_Form_Submission_Record</targetReference>
        </connector>
        <object>BPEV_Membership_Form_Submission__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>BPEV Listener - Membership Form Business Process</stringValue>
        </value>
    </variables>
</Flow>
