force-app/main/default/flows/DPEV_Listener_Create_Membership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>v_MembershipTransactionId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Input_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MembershipFormSubmissionId</name>
        <label>Set MembershipFormSubmissionId</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>v_MembershipFormSubmissionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Membership_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MembershipTransactionId</name>
        <label>Set MembershipTransactionId</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>v_MembershipTransactionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunityProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Up_Membership</name>
        <label>Set Up Membership</label>
        <locationX>314</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>sov_Membership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityProduct.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Membership.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Membership.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Membership.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sov_Membership.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Input_Type</name>
        <label>Input Type</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Transaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_MembershipTransactionId</targetReference>
            </connector>
            <label>Transaction</label>
        </rules>
        <rules>
            <name>Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <operator>None</operator>
            </conditions>
            <connector>
                <targetReference>Set_MembershipFormSubmissionId</targetReference>
            </connector>
            <label>Form</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Returns today&apos;s date</description>
        <name>FormulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Create Membership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Create Membership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>314</locationX>
        <locationY>902</locationY>
        <inputReference>sov_Membership</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership_Form</name>
        <label>Get Membership Form</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunityProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_MembershipFormSubmissionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the OpportunityProduct provided in the RecordId Field of the DPEV. 
Return the Opportunity</description>
        <name>GetOpportunityProduct</name>
        <label>GetOpportunityProduct</label>
        <locationX>314</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Up_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_MembershipTransactionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <object>DPEV_Create_Membership__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <description>Variable to hold Opportunity Line item to be updated</description>
        <name>OpportunityProductforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>sov_Membership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>v_MembershipFormSubmissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MembershipTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
