force-app/main/default/flows/DPEV_Listener.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Membership_lookup_populated</name>
        <label>Is Membership lookup populated?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_MembershipLookupNotPopulated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLineItem.Membership__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DPEV_Membership_Finder_PE</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OppotunityProduct_same_as_Membership_Product</name>
        <label>Is OppotunityProduct same as Membership Product?</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Is_this_an_upgrade_or_downgrade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLineItem.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Membership.Product__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DPEV_Extend_Membership</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluates a custom field on the OpportunityLineItem.Product2</description>
        <name>Is_this_an_upgrade_or_downgrade</name>
        <label>Is this an upgrade or downgrade?</label>
        <locationX>842</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLineItem.Product2.Membership_Weight__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Membership.Product__r.Membership_Weight__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DPEV_Membership_Upgrade_PE</targetReference>
            </connector>
            <label>Upgrade</label>
        </rules>
        <rules>
            <name>Downgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OpportunityLineItem.Product2.Membership_Weight__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Membership.Product__r.Membership_Weight__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_DPEV_Membership_Downgrade_PE</targetReference>
            </connector>
            <label>Downgrade</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPEV Listener {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BPEV Listener - Create Membership Transaction Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Platform Event where Record_Id__c = Id of the found Membership record</description>
        <name>Copy_1_of_Create_DPEV_Membership_Downgrade_PE</name>
        <label>Copy 1 of Create DPEV - Membership Downgrade PE</label>
        <locationX>842</locationX>
        <locationY>710</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>Get_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Membership_Downgrade__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_DPEV_Extend_Membership</name>
        <label>Create DPEV - Extend Membership</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>Get_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Extend_Membership__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Platform Event where Record_Id__c = OpportunityLineItem Id</description>
        <name>Create_DPEV_Membership_Finder_PE</name>
        <label>Create DPEV - Membership Finder PE</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Membership_Finder__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Platform Event where Record_Id__c = Id of the found Membership record</description>
        <name>Create_DPEV_Membership_Upgrade_PE</name>
        <label>Create DPEV - Membership Upgrade PE</label>
        <locationX>578</locationX>
        <locationY>710</locationY>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>Get_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <object>DPEV_Membership_Upgrade__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Queries Membership record where Id = Membership__c lookup on OpporutnityLineItem</description>
        <name>Get_Membership</name>
        <label>Get Membership</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_OppotunityProduct_same_as_Membership_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OpportunityLineItem.Membership__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OpportunityLineItem</name>
        <label>Get OpportunityLineItem</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Membership_lookup_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_OpportunityLineItem</targetReference>
        </connector>
        <object>BPEV_Membership_Transaction__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
