force-app/main/default/flows/DPEV_Listener_Find_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_there_a_product_SKU</name>
        <label>Is there a product SKU?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MFS_Record.Product_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Product_Found</name>
        <label>Was Product Found?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MFS_Success</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>DPEV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MFS_Record</name>
        <label>Get MFS Record</label>
        <locationX>380</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_product_SKU</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Product_Found</targetReference>
        </connector>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MFS_Record.Product_SKU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS_Failure</name>
        <label>Update MFS - Failure</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Failure_Information__c</field>
            <value>
                <stringValue>Product SKU was specified but no product was found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MFS_Skipped</name>
        <label>Update MFS - Skipped</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Import_Status__c</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MFS_Success</name>
        <label>Update MFS - Success</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Import_Status__c</field>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Products.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MFS_Record</targetReference>
        </connector>
        <object>DPEV_Product_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
