force-app/main/default/flows/DPEV_Listener_Membership_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign the Membership Form Submission to a record variable to updated</description>
        <name>AssignMembershipFormSubmissionforUpdate</name>
        <label>AssignMembershipFormSubmissionforUpdate</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>MembershipFormSubmissionforUpdate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Matching_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Membership Found to the Opportunity Line Item</description>
        <name>AssignMembershiptoMembershipFormSubmission</name>
        <label>AssignMembershiptoMembershipFormSubmission</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>GetMembershipFormSubmission.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMembership.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Create_Membership_Essentials_Log_Pass</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Membership Finder Ran flag to true</description>
        <name>SetMembershipFinderRanFlag</name>
        <label>SetMembershipFinderRanFlag</label>
        <locationX>314</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>MembershipFormSubmissionforUpdate.Membership_Finder_Ran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Test if a current membership exists</description>
        <name>MembershipPresent</name>
        <label>MembershipPresent</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMembership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMembershiptoMembershipFormSubmission</targetReference>
            </connector>
            <label>Membership Found</label>
        </rules>
        <rules>
            <name>Membership_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMembership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMembershipFinderRanFlag</targetReference>
            </connector>
            <label>Membership not found</label>
        </rules>
    </decisions>
    <description>Find membership associated with Membership Form Submission and Account or mark Membership Form Submission Record to indicate that the finder ran.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns today&apos;s date</description>
        <name>FormulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Membership Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Membership Finder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Membership_Essentials_Log_Pass</name>
        <label>Copy 2 of Create Membership Essentials Log - Pass</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>UpdateMembershipFormSubmission</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Membership Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GetMembership_Membership_Essentials_Log</name>
        <label>Create &quot;GetMembership&quot; Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>710</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Essentials_Log_Pass</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>314</locationX>
        <locationY>1226</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Membership Form Submission has been updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Essentials_Log_Pass1</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>314</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>UpdateMembershipFormSubmission</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>NO Membership found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_UpdateMembershipFormSubmission_Membership_Essentials_Log</name>
        <label>Create &quot;UpdateMembershipFormSubmission&quot; Membership Essentials Log</label>
        <locationX>842</locationX>
        <locationY>1226</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Products</name>
        <label>Get Matching Products</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Product_ID_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query for a Membership record where Account__c = Opportunity.AccountId where End_Date__c &gt; today and the Product is a renewable membership of the same Category.</description>
        <name>GetMembership</name>
        <label>GetMembership</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MembershipPresent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_GetMembership_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetMembershipFormSubmission.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Matching_Product_ID_List</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the MembershipFormSubmission provided in the RecordId Field of the DPEV. 
Return the Membership Form Submission</description>
        <name>GetMembershipFormSubmission</name>
        <label>GetMembershipFormSubmission</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignMembershipFormSubmissionforUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Membership Form Submission</description>
        <name>UpdateMembershipFormSubmission</name>
        <label>UpdateMembershipFormSubmission</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_UpdateMembershipFormSubmission_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>MembershipFormSubmissionforUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMembershipFormSubmission</targetReference>
        </connector>
        <object>DPEV_Membership_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Matching_Product_ID_List</name>
        <label>Matching Product ID List</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>GetMembership</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Matching_Products[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>Variable to hold Membership Form Submission item to be updated</description>
        <name>MembershipFormSubmissionforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Membership_Form_Submission__c</objectType>
    </variables>
    <variables>
        <description>Variable to hold Opportunity Line item to be updated</description>
        <name>OpportunityProductforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Membership Finder</stringValue>
        </value>
    </variables>
</Flow>
