force-app/main/default/flows/DPEV_Listener_Find_Create_Recipient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_MFS_Error_Create</name>
        <label>Update MFS - Error</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to create recipient contact record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Success</name>
        <label>Update MFS - Success</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Recipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Sucess</name>
        <label>Update MFS - Sucess</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MFS_Recipient.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recipient_Exists</name>
        <label>Recipient Exists?</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Sucess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Find</defaultConnectorLabel>
        <rules>
            <name>No_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MFS_Recipient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Recipient</targetReference>
            </connector>
            <label>No, Create</label>
        </rules>
    </decisions>
    <description>PE triggered flow, finds or creates a contact for the Gift Recipient from Membership Submission Form record.</description>
    <environments>Default</environments>
    <formulas>
        <description>Combines the two street address lines</description>
        <name>forBillingStreet</name>
        <dataType>String</dataType>
        <expression>{!Get_MFS_record.RecipientStreet__c} + &quot; &quot; + {!Get_MFS_record.RecipientStreet2__c}</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Find/Create Recipient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find/Create Recipient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Recipient</name>
        <label>Create Recipient</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Update_MFS_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_MFS_Error_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_MFS_record.RecipientEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_MFS_record.RecipientFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_MFS_record.RecipientLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Get_MFS_record.RecipientCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Get_MFS_record.RecipientCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_MFS_record.RecipientZip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_MFS_record.RecipientState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>forBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Gift Recipient from the MFS record</description>
        <name>Get_MFS_Recipient</name>
        <label>Get MFS Recipient</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MFS_record.RecipientEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MFS_record</name>
        <label>Get MFS record</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MFS_Recipient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS</name>
        <label>Update MFS</label>
        <locationX>314</locationX>
        <locationY>884</locationY>
        <inputReference>Get_MFS_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MFS_record</targetReference>
        </connector>
        <object>DPEV_Gift_Recipient_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
