force-app/main/default/flows/DPEV_Listener_Create_or_Find_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_MFS_Error</name>
        <label>Update MFS - Error</label>
        <locationX>314</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Skip</name>
        <label>Update MFS - Skip</label>
        <locationX>1106</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Success</name>
        <label>Update MFS - Success</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Success_found</name>
        <label>Update MFS - Success</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_account_name_populated</name>
        <label>Is account name populated?</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Skip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Membership_Form_Submission.OrganizationName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Null</name>
        <label>Is Account Null</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Success_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Find</defaultConnectorLabel>
        <rules>
            <name>Yes_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>Yes, Create</label>
        </rules>
    </decisions>
    <description>Create or find account associated with Membership Form Submission</description>
    <environments>Default</environments>
    <interviewLabel>DPEV Listener - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Create or Find Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Update_MFS_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Create_Account_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.OrganizationName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Create_Account_Membership_Essentials_Log</name>
        <label>Create &quot;Create Account&quot; Membership Essentials Log</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Update_MFS_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Get_Account_Membership_Essentials_Log</name>
        <label>Create &quot;Get Account&quot; Membership Essentials Log</label>
        <locationX>842</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Platform event triggered. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_MFS_Membership_Essentials_Log</name>
        <label>Create &quot;Update MFS&quot; Membership Essentials Log</label>
        <locationX>1370</locationX>
        <locationY>1292</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Get_Account_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.OrganizationName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership_Form_Submission</name>
        <label>Get Membership Form Submission</label>
        <locationX>710</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_account_name_populated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Form_Submission</name>
        <label>Update Membership Form Submission</label>
        <locationX>710</locationX>
        <locationY>1184</locationY>
        <faultConnector>
            <targetReference>Create_Update_MFS_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Membership_Form_Submission</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Form_Submission</targetReference>
        </connector>
        <object>DPEV_Account__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Create or Find Account</stringValue>
        </value>
    </variables>
</Flow>
