force-app/main/default/flows/DPEV_Listener_Find_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_MFS_Error</name>
        <label>Update MFS - Error</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product SKU was specified but no product was found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Product_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Skipped2</name>
        <label>Update MFS - Skipped</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Product_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Sucess</name>
        <label>Update MFS - Sucess</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Product_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_Record.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_a_product_SKU</name>
        <label>Is there a product SKU?</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Skipped2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MFS_Record.Product_SKU__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Product_Found</name>
        <label>Was Product Found?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_prod</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MFS_Sucess</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPEV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Get_Products_Membership_Essentials_Log</name>
        <label>Create &quot;Get Products&quot; Membership Essentials Log</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Platform event triggered. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_MFS_Membership_Essentials_Log</name>
        <label>Create &quot;Update MFS&quot; Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>986</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MFS_Record</name>
        <label>Get MFS Record</label>
        <locationX>512</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_product_SKU</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Product_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Get_Products_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MFS_Record.Product_SKU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS</name>
        <label>Update MFS</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Create_Update_MFS_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>Get_MFS_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MFS_Record</targetReference>
        </connector>
        <object>DPEV_Product_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Find Product</stringValue>
        </value>
    </variables>
</Flow>
