force-app/main/default/flows/DPEV_Listener_Membership_Downgrade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign new product and end dates for the membership</description>
        <name>Assign_new_Membership_product</name>
        <label>Assign new Membership product</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_the_related_Membership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_related_Membership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_with_new_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>double check that membership opportunity product has changed</description>
        <name>Check_Membership_Opportunity_Product_has_changed</name>
        <label>Check Membership Opportunity Product has changed</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Same Product</defaultConnectorLabel>
        <rules>
            <name>Update_Membership_opportunity_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_related_Membership.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Membership_Opportunity_Product.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Membership_product</targetReference>
            </connector>
            <label>Update Membership opportunity product</label>
        </rules>
    </decisions>
    <description>A flow called by the platform events to downgrade the membership by updating the opportunity product on the membership record</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateNewEndDate</name>
        <dataType>Date</dataType>
        <expression>/*{!Get_Membership_Opportunity_Product.Opportunity.CloseDate}{!Get_Membership_Opportunity_Product.Product2.Term__c}{!Get_Membership_Opportunity_Product.Product2.Term_Unit__c}*/
{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Membership Downgrade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Membership Downgrade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch the details of the opportunity product that triggered the flow</description>
        <name>Get_Membership_Opportunity_Product</name>
        <label>Get Membership Opportunity Product</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_related_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_related_Membership</name>
        <label>Get the related Membership</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Membership_Opportunity_Product_has_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Membership_Opportunity_Product.Membership__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_with_new_product</name>
        <label>Update Membership with new product</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <inputReference>Get_the_related_Membership</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Opportunity_Product</targetReference>
        </connector>
        <object>DPEV_Membership_Downgrade__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>the record id that triggered the flow</description>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
