force-app/main/default/flows/DPEV_Listener_Membership_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Does_Recipient_Exist</name>
        <label>Does Recipient Exist</label>
        <locationX>182</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Update_Membership_w_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recipient_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Query_Membership_Form_Submission.Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Membership_w_Recipient</targetReference>
            </connector>
            <label>Recipient Exists</label>
        </rules>
    </decisions>
    <description>Listens for the Platform Event: Create Membership, and creates a Membership record based on data in the Membership Form Submission.</description>
    <environments>Default</environments>
    <formulas>
        <name>calculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
TEXT({!Query_Opportunity_Product.Product2.Term_Unit__c}) = &apos;Day&apos;,
{!newMembership.Start_Date__c} + {!Query_Opportunity_Product.Product2.Term__c},
  IF(
       TEXT( {!Query_Opportunity_Product.Product2.Term_Unit__c} )= &apos;Week&apos;,
        {!newMembership.Start_Date__c} + ({!Query_Opportunity_Product.Product2.Term__c}*7),
         IF(
                    TEXT(  {!Query_Opportunity_Product.Product2.Term_Unit__c}) = &apos;Month&apos;,
                             {!newMembership.Start_Date__c} + ({!Query_Opportunity_Product.Product2.Term__c}*30.14),
                 IF(
                    TEXT(  {!Query_Opportunity_Product.Product2.Term_Unit__c}) = &apos;Year&apos;,
                                  {!newMembership.Start_Date__c} + ({!Query_Opportunity_Product.Product2.Term__c}*364),
                                  null                                   
                    )
             )
  )

)</expression>
    </formulas>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>{!Query_Opportunity_Product.Id}</expression>
    </formulas>
    <formulas>
        <name>membershipName</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!Query_Membership_Form_Submission.Account__r.Name}
+&quot; _ &quot;+
{!Query_Opportunity_Product.Product2.Name}
+&quot; _ &quot;+
TEXT({!$Flow.CurrentDate})

,80)</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Membership Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Membership Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_log_item</name>
        <label>Copy 1 of Create log item</label>
        <locationX>182</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Get_New_Membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Text__c</field>
            <value>
                <stringValue>create membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>DPEV Listener - Membership Create Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_log_item</name>
        <label>Create log item</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Create_Membership</targetReference>
        </connector>
        <inputAssignments>
            <field>Error_Text__c</field>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>DPEV Listener - Membership Create Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignRecordIdToReference>varMembershipformSubmission</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_log_item</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Query_Membership_Form_Submission.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calculatedEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>membershipName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Query_Membership_Form_Submission.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Query_Opportunity_Product.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Membership</name>
        <label>Get New Membership</label>
        <locationX>182</locationX>
        <locationY>710</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Membership_on_Opportunity_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMembershipformSubmission</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>retrieve the Membership Form Submission that created the Platform Event.</description>
        <name>Query_Membership_Form_Submission</name>
        <label>Query Membership Form Submission</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_log_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Opportunity_Product.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Link the most recently created product on the opportunity line item for the opportunity linked to the membership form submission</description>
        <name>Query_Opportunity_Product</name>
        <label>Query Opportunity Product</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Membership_Form_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Membership_Form_Submission.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Form_Submission_Record</name>
        <label>Update Membership Form Submission Record</label>
        <locationX>182</locationX>
        <locationY>1226</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Membership_Form_Submission.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>newMembership.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recipient__c</field>
            <value>
                <elementReference>Query_Membership_Form_Submission.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_on_Opportunity_Product</name>
        <label>Update Membership on Opportunity Product</label>
        <locationX>182</locationX>
        <locationY>818</locationY>
        <connector>
            <targetReference>Does_Recipient_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Query_Opportunity_Product.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Membership__c</field>
            <value>
                <elementReference>Get_New_Membership.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_w_Contact</name>
        <label>Update Membership w Contact</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Update_Membership_Form_Submission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Membership.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Query_Membership_Form_Submission.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Membership_w_Recipient</name>
        <label>Update Membership w Recipient</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Update_Membership_Form_Submission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Membership.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Query_Membership_Form_Submission.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <object>Membership__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Opportunity_Product</targetReference>
        </connector>
        <object>DPEV_Create_Membership__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>varMembershipformSubmission</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
