force-app/main/default/flows/DPEV_Listener_Create_or_Find_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_for_Account_Matches</name>
        <label>Check for Account Matches</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Matching_Account</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>set_Error_Log_Values</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>soAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Log_Message_Create_Account</name>
        <label>Add Log Message - Create Account</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New account created; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_MFS_Success_Info_Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log_Message_Found_Account</name>
        <label>Add Log Message - Found Account</label>
        <locationX>578</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Existing Account Matched; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_MFS_Success_Info_Found_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log_Message_No_Account</name>
        <label>Add Log Message - No Account</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No matching account record found; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Error_Log_Values</name>
        <label>set Error Log Values</label>
        <locationX>1634</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Initial_Log_Values</name>
        <label>set Initial Log Values</label>
        <locationX>710</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Flow_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>update MFS status to failed andset the failure message</description>
        <name>set_MFS_Error_Values</name>
        <label>set MFS Error Values</label>
        <locationX>1634</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMFSFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Failure_Message</name>
        <label>set MFS Failure Message</label>
        <locationX>314</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>varMFSFailureMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to create new account record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>set_Error_Log_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Id_in_Log</name>
        <label>set MFS Id in Log</label>
        <locationX>710</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Membership_Form_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_account_name_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Success_Info_Create_Account</name>
        <label>set MFS Success Info - Create Account</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Success_Info_Found_Account</name>
        <label>set MFS Success Info - Found Account</label>
        <locationX>578</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Account_Matches.duplicate.duplicateRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Temp_Account</name>
        <label>set Temp Account</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>soAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.OrganizationName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.BillingStreet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.BillingState__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.BillingCity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Form_Submission.BillingZip__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Account_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Log that Account find/create action was skipped</description>
        <name>Update_MFS_Skipped</name>
        <label>Update MFS - Skipped</label>
        <locationX>1106</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_Membership_Form_Submission.Account_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Matching_Account</name>
        <label>Found Matching Account?</label>
        <locationX>314</locationX>
        <locationY>818</locationY>
        <defaultConnector>
            <targetReference>Add_Log_Message_Found_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Match Found</defaultConnectorLabel>
        <rules>
            <name>No_Matching_Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Account_Matches.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Account_Matches.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Log_Message_No_Account</targetReference>
            </connector>
            <label>No Matching Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_account_name_populated</name>
        <label>Is account name populated?</label>
        <locationX>710</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Membership_Form_Submission.OrganizationName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Temp_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If the Organization Name is populated, attempts to find a matching Account using active duplicate rules. If duplicate rules are inactive or no match is found, creates a new Account.</description>
    <environments>Default</environments>
    <interviewLabel>DPEV Listener - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find/Create Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Add_Log_Message_Create_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_MFS_Failure_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.OrganizationName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MFS_Update_Error_Log</name>
        <label>Create MFS Update Error Log</label>
        <locationX>1370</locationX>
        <locationY>1634</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_Membership_Form_Submission.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>insert_Error_Log</name>
        <label>insert Error Log</label>
        <locationX>1634</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>set_MFS_Error_Values</targetReference>
        </connector>
        <inputReference>soLogRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Success_Log</name>
        <label>Insert Success Log</label>
        <locationX>710</locationX>
        <locationY>1634</locationY>
        <inputReference>soLogRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership_Form_Submission</name>
        <label>Get Membership Form Submission</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_MFS_Id_in_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_Error_Log_Values</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Form_Submission</name>
        <label>Update Membership Form Submission</label>
        <locationX>710</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Insert_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_MFS_Update_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Membership_Form_Submission</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update MFS with the error values</description>
        <name>update_MFS</name>
        <label>update MFS</label>
        <locationX>1634</locationX>
        <locationY>710</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_MFS_Update_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Membership_Form_Submission</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_Initial_Log_Values</targetReference>
        </connector>
        <object>DPEV_Account__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>soAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>soLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership_Essentials_Event_Log__c</objectType>
    </variables>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Find/Create Account</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMFSFailureMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
