force-app/main/default/flows/DPEV_Listener_Find_Create_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Utilizes an Unofficial Salesforce component to identify duplicate records based on Salesforce&apos;s Duplicate Matching Rules. Input is firstName, lastName, email</description>
        <name>Check_for_Contact_Matches</name>
        <label>Check for Contact Matches</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <actionName>DuplicateRecordCheck_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Found_Matching_Contact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__record</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>record</name>
            <value>
                <elementReference>varTempContact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DuplicateRecordCheck_Invocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Log_Message_Created_Contact</name>
        <label>Add Log Message - Created Contact</label>
        <locationX>50</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>New contact created; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_MFS_Success_Info_Created_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log_Message_Found_Contact</name>
        <label>Add Log Message - Found Contact</label>
        <locationX>578</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Found existing contact; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS_Sucess</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Log_Message_No_Contact</name>
        <label>Add Log Message - No Contact</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>No matching contact record found; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Temp_Contact_Variable</name>
        <label>Fill Temp Contact Variable</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>varTempContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MFS_record.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MFS_record.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MFS_record.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Contact_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Error_Log_Values</name>
        <label>set Error Log Values</label>
        <locationX>1370</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soLogRecord.Log_Message__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error: {!$Flow.FaultMessage}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_Error_Log</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Initial_Log_Values</name>
        <label>set Initial Log Values</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Flow_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MFS_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Error_Values</name>
        <label>set MFS Error Values</label>
        <locationX>1370</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMFSFailureMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Failure_Message</name>
        <label>set MFS Failure Message</label>
        <locationX>314</locationX>
        <locationY>1034</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to create new contact record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Id_in_Log</name>
        <label>set MFS Id in Log</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>soLogRecord.Membership_Form_Submission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fill_Temp_Contact_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_MFS_Success_Info_Created_Contact</name>
        <label>set MFS Success Info - Created Contact</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Sucess</name>
        <label>Update MFS - Sucess</label>
        <locationX>578</locationX>
        <locationY>926</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_for_Contact_Matches.duplicate.duplicateRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_Form_Submission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Matching_Contact</name>
        <label>Found Matching Contact?</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Add_Log_Message_Found_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Match Found</defaultConnectorLabel>
        <rules>
            <name>No_Match_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Contact_Matches.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_for_Contact_Matches.duplicate.isDuplicate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Log_Message_No_Contact</targetReference>
            </connector>
            <label>No Match Found</label>
        </rules>
    </decisions>
    <description>PE triggered flow, attempts to find a matching Contact using active duplicate rules. If duplicate rules are inactive or no match is found, creates a new contact.</description>
    <environments>Default</environments>
    <formulas>
        <description>Combines the two street address lines</description>
        <name>forBillingStreet</name>
        <dataType>String</dataType>
        <expression>{!Get_MFS_record.BillingStreet__c} + &quot; &quot; + {!Get_MFS_record.BillingStreet2__c}</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Find/Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find/Create Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>50</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Add_Log_Message_Created_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_MFS_Failure_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_MFS_record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_MFS_record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_MFS_record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Get_MFS_record.BillingCity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCountry</field>
            <value>
                <elementReference>Get_MFS_record.BillingCountry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>Get_MFS_record.BillingZip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>Get_MFS_record.BillingState__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>forBillingStreet</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MFS_Update_Error_Log</name>
        <label>Create MFS Update Error Log</label>
        <locationX>842</locationX>
        <locationY>1442</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>insert_Error_Log</name>
        <label>insert Error Log</label>
        <locationX>1370</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>set_MFS_Error_Values</targetReference>
        </connector>
        <inputReference>soLogRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Success_Log</name>
        <label>Insert Success Log</label>
        <locationX>314</locationX>
        <locationY>1442</locationY>
        <inputReference>soLogRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_MFS_record</name>
        <label>Get MFS record</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_MFS_Id_in_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>set_Error_Log_Values</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Membership_Form_Submission_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_Form_Submission</name>
        <label>Update Membership Form Submission</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Insert_Success_Log</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_MFS_Update_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Get_MFS_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update MFS with the error values</description>
        <name>update_MFS</name>
        <label>update MFS</label>
        <locationX>1370</locationX>
        <locationY>710</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_MFS_Update_Error_Log</targetReference>
        </faultConnector>
        <inputReference>Get_MFS_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_Initial_Log_Values</targetReference>
        </connector>
        <object>DPEV_Contact_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>soLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership_Essentials_Event_Log__c</objectType>
    </variables>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Find/Create Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>varMFSFailureMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTempContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
