force-app/main/default/flows/DPEV_Listener_Membership_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign the Membership Found to the Opportunity Line Item</description>
        <name>AssignMembershiptoOpportunityProduct</name>
        <label>AssignMembershiptoOpportunityProduct</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductforUpdate.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMembership.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Opportunity Line Item to a record variable to updated</description>
        <name>AssignOpportunityLineItemforUpdate</name>
        <label>AssignOpportunityLineItemforUpdate</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductforUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpportunityProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Membership Finder Ran flag to true</description>
        <name>SetMembershipFinderRanFlag</name>
        <label>SetMembershipFinderRanFlag</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProductforUpdate.Membership_Finder_Ran__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunityLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Test if a current membership exists</description>
        <name>MembershipPresent</name>
        <label>MembershipPresent</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Membership_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMembership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMembershiptoOpportunityProduct</targetReference>
            </connector>
            <label>Membership Found</label>
        </rules>
        <rules>
            <name>Membership_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMembership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMembershipFinderRanFlag</targetReference>
            </connector>
            <label>Membership not found</label>
        </rules>
    </decisions>
    <description>Find membership associated with Opportunity Line Item and Account or mark Membership Form Submission Record to indicate that the finder ran.</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns today&apos;s date</description>
        <name>FormulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Membership Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Membership Finder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query for a Membership record where Account__c = Opportunity.AccountId where End_Date__c &gt; today</description>
        <name>GetMembership</name>
        <label>GetMembership</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MembershipPresent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>FormulaToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the related Opportunity
Return Opportunity.AccountId</description>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMembership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunityProduct.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the OpportunityProduct provided in the RecordId Field of the DPEV. 
Return the Opportunity</description>
        <name>GetOpportunityProduct</name>
        <label>GetOpportunityProduct</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOpportunityLineItemforUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Opportunity Line Item</description>
        <name>UpdateOpportunityLineItem</name>
        <label>UpdateOpportunityLineItem</label>
        <locationX>314</locationX>
        <locationY>902</locationY>
        <inputReference>OpportunityProductforUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunityProduct</targetReference>
        </connector>
        <object>DPEV_Membership_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>Variable to hold Opportunity Line item to be updated</description>
        <name>OpportunityProductforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
