force-app/main/default/flows/DPEV_Listener_Membership_Downgrade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign new product and end dates for the membership</description>
        <name>Assign_new_Membership_product</name>
        <label>Assign new Membership product</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_the_related_Membership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Membership_Opportunity_Product.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_related_Membership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateNewEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Membership_with_new_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>double check that membership opportunity product has changed</description>
        <name>Check_Membership_Opportunity_Product_has_changed</name>
        <label>Check Membership Opportunity Product has changed</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>Same Product</defaultConnectorLabel>
        <rules>
            <name>Update_Membership_opportunity_product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_related_Membership.Product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Membership_Opportunity_Product.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Membership_product</targetReference>
            </connector>
            <label>Update Membership opportunity product</label>
        </rules>
    </decisions>
    <description>A flow called by the platform events to downgrade the membership by updating the opportunity product on the membership record</description>
    <environments>Default</environments>
    <formulas>
        <name>CalculateNewEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISPICKVAL({!Get_Membership_Opportunity_Product.Product2.Term_Unit__c}, &quot;Month&quot;), 
    ADDMONTHS({!Get_Membership_Opportunity_Product.Opportunity.CloseDate}, {!Get_Membership_Opportunity_Product.Product2.Term__c}),
    
    IF(
        ISPICKVAL({!Get_Membership_Opportunity_Product.Product2.Term_Unit__c}, &quot;Year&quot;), 
        ADDMONTHS({!Get_Membership_Opportunity_Product.Opportunity.CloseDate}, ({!Get_Membership_Opportunity_Product.Product2.Term__c} * 12)),
        
        IF(
            ISPICKVAL({!Get_Membership_Opportunity_Product.Product2.Term_Unit__c}, &quot;Week&quot;), 
            ({!Get_Membership_Opportunity_Product.Opportunity.CloseDate} + ({!Get_Membership_Opportunity_Product.Product2.Term__c} * 7)),
            
            {!Get_Membership_Opportunity_Product.Opportunity.CloseDate} + {!Get_Membership_Opportunity_Product.Product2.Term__c}
        )
    )
)</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Membership Downgrade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Membership Downgrade</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Get_the_related_Membership_Membership_Essentials_Log</name>
        <label>Create &quot;Get the related Membership&quot; Membership Essentials Log</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Platform event triggered. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_Membership_with_new_product_Membership_Essentials_Log</name>
        <label>Create &quot;Update Membership with new product&quot; Membership Essentials Log</label>
        <locationX>314</locationX>
        <locationY>710</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Fetch the details of the opportunity product that triggered the flow</description>
        <name>Get_Membership_Opportunity_Product</name>
        <label>Get Membership Opportunity Product</label>
        <locationX>314</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_related_Membership</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_related_Membership</name>
        <label>Get the related Membership</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Membership_Opportunity_Product_has_changed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Get_the_related_Membership_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!Get_Membership_Opportunity_Product.Membership__c}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Membership_with_new_product</name>
        <label>Update Membership with new product</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <faultConnector>
            <targetReference>Create_Update_Membership_with_new_product_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>Get_the_related_Membership</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Opportunity_Product</targetReference>
        </connector>
        <object>DPEV_Membership_Downgrade__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Membership Downgrade</stringValue>
        </value>
    </variables>
</Flow>
