force-app/main/default/flows/DPEV_Listener_Campaign_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_MFS_Error</name>
        <label>Update MFS - Error</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Campaign_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A campaign was specified but wasn&apos;t found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Skipped</name>
        <label>Update MFS - Skipped</label>
        <locationX>842</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Campaign_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Success</name>
        <label>Update MFS - Success</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Campaign_Import_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_the_Membership_Form_Submission_Record.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Existing_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS_record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DPEV Listener - Campaign Finder </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Was_a_Campaign_Found</name>
        <label>Was a Campaign Found?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MFS_Success</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_campaign_source_code_or_name_indicated</name>
        <label>Was campaign source code or name indicated?</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Membership_Form_Submission_Record.Source_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Membership_Form_Submission_Record.Source_Campaign_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated to include the new Membership Essentials Log object.</description>
    <environments>Default</environments>
    <interviewLabel>DPEV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Campaign Finder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a log to show the update the to the MFS was not successful.</description>
        <name>Create_Final_Update_Membership_Essentials_Log</name>
        <label>Create Final Update Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>986</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a log to show there was an error when trying to find the campaign.</description>
        <name>Create_Find_Membership_Campaign_Membership_Essentials_Log</name>
        <label>Create &quot;Find Membership Campaign&quot; Membership Essentials Log</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a log to show the Platform Event was triggered</description>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Platform event triggered. {!$Flow.FaultMessage}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Campaign</name>
        <label>Find Existing Campaign</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Campaign_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Find_Membership_Campaign_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Source_Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Source_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Membership_Form_Submission_Record</name>
        <label>Get the Membership Form Submission Record</label>
        <locationX>512</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_campaign_source_code_or_name_indicated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS_record</name>
        <label>Update MFS record</label>
        <locationX>512</locationX>
        <locationY>878</locationY>
        <faultConnector>
            <targetReference>Create_Final_Update_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>Get_the_Membership_Form_Submission_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Membership_Form_Submission_Record</targetReference>
        </connector>
        <object>DPEV_Find_Campaign__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
</Flow>
