force-app/main/default/flows/DPEV_Listener_Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Update_MFS_Error</name>
        <label>Update MFS - Error</label>
        <locationX>704</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Membership_Form_Submission_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Membership_Form_Submission_Record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create Opportunity Line Item</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Error_Opp</name>
        <label>Update MFS - Error</label>
        <locationX>968</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Membership_Form_Submission_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Membership_Form_Submission_Record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed to Create Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Success2</name>
        <label>Update MFS - Success</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Membership_Form_Submission_Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>staticFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DPEV Listener - Create Opportunity</stringValue>
        </value>
    </constants>
    <description>Create Listener flow off creation of: DPEV Create Opportunity Platform Event</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s date</description>
        <name>Date_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>DPEV Listener - Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Create Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Error</name>
        <label>Create Membership Essentials Log - Error</label>
        <locationX>968</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Update_MFS_Error_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Create Opportunity has failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Error_0</name>
        <label>Create Membership Essentials Log - Error</label>
        <locationX>704</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Update_MFS_Error</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Create Opportunity Line Item has failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Error_0_0</name>
        <label>Create Membership Essentials Log - Error</label>
        <locationX>440</locationX>
        <locationY>1034</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Membership Form Submission update has failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Pass</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>DPEV Listener - Create Opportunity has started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Pass_0</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>Create_Opportunity_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Opportunity has been created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Pass_0_0</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Update_MFS_Success2</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Opportunity Line Item has been created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Membership Essentials Log records for each success and fault</description>
        <name>Create_Membership_Essentials_Log_Pass_0_0_0</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>176</locationX>
        <locationY>1034</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>staticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Membership Form Submission has been updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create the opportunity line item</description>
        <name>Create_Opportunity_Line_Item</name>
        <label>Create Opportunity Line Item</label>
        <locationX>176</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Membership_Essentials_Log_Error_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Price_Book_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalPrice</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.SalePrice__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates record off membership submission form fields</description>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Membership_Essentials_Log_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.SalePrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Membership_Form_Submission_Record.Campaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Date_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Membership</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Membership_Form_Submission_Record</name>
        <label>Membership Form Submission Record</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS</name>
        <label>Update - MFS</label>
        <locationX>176</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Membership_Essentials_Log_Error_0_0</targetReference>
        </faultConnector>
        <inputReference>Membership_Form_Submission_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Membership_Form_Submission_Record</targetReference>
        </connector>
        <object>DPEV_Create_Opportunity__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
