force-app/main/default/flows/DPEV_Listener_Find_Price_Book_Entry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_the_Pricebook_Entry_ID</name>
        <label>Set the Pricebook Entry ID</label>
        <locationX>50</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Price_Book_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_pricebook_entry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Status_Error</name>
        <label>Update MFS Status - Error</label>
        <locationX>842</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No pricebook found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_MFS_Status_Error_PBE</name>
        <label>Update MFS Status - Error (PBE)</label>
        <locationX>314</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_MFS_record.Failure_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Pricebook Entry Found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MFS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Pricebook_Found</name>
        <label>Pricebook Found?</label>
        <locationX>512</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Status_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_A_Pricebook_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_The_Standard_Pricebook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_pricebook_entry</targetReference>
            </connector>
            <label>Yes, A Pricebook was found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_A_Pricebook_Entry_Found</name>
        <label>Was A Pricebook Entry Found</label>
        <locationX>182</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_Status_Error_PBE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_A_Pricebook_Entry_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_pricebook_entry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_the_Pricebook_Entry_ID</targetReference>
            </connector>
            <label>Yes, A Pricebook Entry Was Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPEV Listener - Find Price Book Entry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Find Price Book Entry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Get_PBE_Membership_Essentials_Log</name>
        <label>Create &quot;Get PBE&quot; Membership Essentials Log</label>
        <locationX>578</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Get_Standard_Pricebook_Membership_Essentials_Log</name>
        <label>Create &quot;Get Standard Pricebook&quot; Membership Essentials Log</label>
        <locationX>1370</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>Error_Text__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Initial_Membership_Essentials_Log</name>
        <label>Create Initial Membership Essentials Log</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Essentials_Log_Pass</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>512</locationX>
        <locationY>1202</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Membership Form Submission has been updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership_Essentials_Log_Pass1</name>
        <label>Create Membership Essentials Log - Pass</label>
        <locationX>182</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Was_A_Pricebook_Entry_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Pricebook Entry Found </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Update_MFS_Membership_Essentials_Log</name>
        <label>Create &quot;Update MFS&quot; Membership Essentials Log</label>
        <locationX>1106</locationX>
        <locationY>1202</locationY>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>StaticFlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Form_Submission__c</field>
            <value>
                <elementReference>Get_MFS_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_MFS_record</name>
        <label>Get MFS record</label>
        <locationX>512</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_The_Standard_Pricebook</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Initial_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook_entry</name>
        <label>Get pricebook entry</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Get_PBE_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_MFS_record.Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_The_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Standard_Pricebook</name>
        <label>Get The Standard Pricebook</label>
        <locationX>512</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Get_Standard_Pricebook_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS</name>
        <label>Update MFS</label>
        <locationX>512</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Membership_Essentials_Log_Pass</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Update_MFS_Membership_Essentials_Log</targetReference>
        </faultConnector>
        <inputReference>Get_MFS_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MFS_record</targetReference>
        </connector>
        <object>DPEV_Pricebook_Finder__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>StaticFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DPEV Listener - Find Price Book Entry</stringValue>
        </value>
    </variables>
</Flow>
