force-app/main/default/flows/DPEV_Listener_Campaign_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Was_a_Campaign_Found</name>
        <label>Was a Campaign Found?</label>
        <locationX>182</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_record_failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MFS_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_campaign_source_code_or_name_indicated</name>
        <label>Was campaign source code or name indicated?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_MFS_record_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_Membership_Form_Submission_Record.Source_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_the_Membership_Form_Submission_Record.Source_Campaign_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>DPEV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Campaign Finder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Existing_Campaign</name>
        <label>Find Existing Campaign</label>
        <locationX>182</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_a_Campaign_Found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Source_Campaign_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Source_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Membership_Form_Submission_Record</name>
        <label>Get the Membership Form Submission Record</label>
        <locationX>380</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_campaign_source_code_or_name_indicated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Membership_Form_Submission_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Form_Submission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_MFS_record</name>
        <label>Update MFS record</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Import_Status__c</field>
            <value>
                <stringValue>Imported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Find_Existing_Campaign.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MFS_record_failure</name>
        <label>Update MFS record - failure</label>
        <locationX>314</locationX>
        <locationY>602</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Import_Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Failure_Information__c</field>
            <value>
                <stringValue>A campaign was specified but not found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MFS_record_Skipped</name>
        <label>Update MFS record - Skipped</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_the_Membership_Form_Submission_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Import_Status__c</field>
            <value>
                <stringValue>Skipped</stringValue>
            </value>
        </inputAssignments>
        <object>Membership_Form_Submission__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Membership_Form_Submission_Record</targetReference>
        </connector>
        <object>BPEV_Membership_Form_Submission__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
</Flow>
