force-app/main/default/flows/DPEV_Listener_Create_Membership_Essentials_Log.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Settings</name>
        <label>Set Settings</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>boolLoggingActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaBoolLoggingActive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Logging_Enabled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Logging_Enabled</name>
        <label>Is Logging Enabled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Logging_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolLoggingActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership_Essentials_Event_Log</targetReference>
            </connector>
            <label>Yes, Logging Enabled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaBoolLoggingActive</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!Get_Membership_Essentials_Setting_Metadata.Membership_Log_Creation__c},&apos;Enabled&apos;),
TRUE,
FALSE
)</expression>
    </formulas>
    <interviewLabel>DPEV Listener - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPEV Listener - Create Membership Essentials Log</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Membership_Essentials_Event_Log</name>
        <label>Create Membership Essentials Event Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Error_Text__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>$Record.Flow_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Location__c</field>
            <value>
                <elementReference>$Record.Log_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Record.Log_Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <elementReference>$Record.Log_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Membership_Essentials_Event_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Membership_Essentials_Setting_Metadata</name>
        <label>Get Membership Essentials Setting Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SystemModstamp</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership_Essentials_Setting__mdt</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Membership_Essentials_Setting_Metadata</targetReference>
        </connector>
        <object>DPEV_Create_Membership_Essentials_Log__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>boolLoggingActive</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
